<div class='col-xs-8'>
  <ul>
    <% spaces.each(function(space){ %>
        <li>
          <a href='#/spaces/<%= space.id %>'>
              <img src='<%= space.escape('photo_url') %>'>
          </a>
        </li>
      <% }); %>
  </ul>
</div>
