<a href='#/spaces/<%= space.id %>'>

  <img src='<%= space.get("photo_url") %>' class='listing-image img-thumbnail'>

  <div class='listing-space-title'>
    <%= space.escape('title') %>
  </div>
</a>

<div class='listing-button-group'>
    <a href='#/spaces/edit/<%= space.id %>' class='listing-edit-button'>Edit</a>
    <button class='listing-delete-button delete-button'> Delete </button>
</div>
