<div class='form-errors'></div>


<form enctype="multipart/form-data">
  <div class='form-group'>
    <label>
        Title
      <input
        type='text'
        class='form-control'
        name='space[title]'
        value='<%= space.escape("title") %>'
        data-validation="required">
    </label>
  </div>
  <div class='form-group'>
    <label>
      Description
      <textarea
        class='form-control'
        rows='8'
        cols='50'
        name='space[description]'><%= space.escape("description") %></textarea>
    </label>
  </div>
  <div class='form-group input-large'>
    <label>
      Price
    <input
      type='number'
      class='form-control'
      name='space[price]'
      value='<%= space.escape("price") %>'>
    </label>
  </div>
  <div class='form-group'>
    <label>
      Cover Photo
      <input
        type='file'
        name='space[photo_preview]'
        accept='image/*'
        multiple id='images'>
    </label>
  </div>

  <% if (space.isNew()){  %>
    <button type='submit' class='btn btn-primary'>Create</button>
  <%} else{  %>
    <button type='submit' class='btn btn-primary'>Save</button>
  <% } %>
</form>
