<div class='col-xs-1'>
  <a href='#/profile/<%= review.escape("author_id") %>'>
    <img src='<%= review.get("author_avatar")%>' class='img-circle'>
  </a>
  <div class='review-author-name'>
    <%= review.escape('author_name') %>
  </div>
</div>

<div class='col-xs-5 review-text' style='white-space: pre-line;'>
  <%= review.escape('text') %>
</div>
