// body {
//     background-color: #000000;
//     background-image: url(http://images3.alphacoders.com/226/226107.jpg);
//     background-size: contain;
//     background-position: center;
//     background-repeat: no-repeat;
//     position: fixed;
//     top: 0; right: 0; bottom: 0; left: 0;
//     z-index: 99999;
// }

body.splash {
  background: url(http://images3.alphacoders.com/226/226107.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: -webkit-box;   /* OLD: Safari,  iOS, Android browser, older WebKit browsers.  */
  display: -moz-box;      /* OLD: Firefox (buggy) */
  display: -ms-flexbox;   /* MID: IE 10 */
  display: -webkit-flex;  /* NEW, Chrome 21–28, Safari 6.1+ */
  display: flex;
  justify-content: center;
  -webkit-align-items: center;
}

#auth-body {
  //vertical aligning
  top: 50%;
  left: 50%;
  position: absolute;
  margin-top: -200px;
  margin-left: -225px;
  height: 500px;


  padding: 30px;
  padding-top: 5%;
  width: 450px;
  text-align: center;
  background-color: rgba(255,255,255, 0.95);
  display: inline-block;
  border-radius: 2px;
}

#auth-form{
  left: 20%;
}

::-webkit-input-placeholder {
   color: #c4c4c4;
}


.auth-input {
  margin-bottom: 5px;
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 20px;
  height: 20%;
  line-height: 1.428571429;
  color: #AEA9A9;
  vertical-align: middle;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-width: 1px;
  border-radius: 2px;
  border-style: solid;
  border-color: #E0E2DF;
}

.auth-input:focus {
  border-color: #FFB400;
  background-color: #FFF8E5;
  outline: 0;
}

.auth-button {
  color: white;
  font-size: 25px;
  border-style: solid;
  padding-bottom: 1.5%;
  padding-top: 1.5%;
  height: 20%;
  text-align: center;
  padding-left: 40%;
  padding-right: 39%;
  margin-bottom: 2%;
  background-color: #FF6065;
  border-color: #FF6065;
  border-radius: 2px;

}

.signup-button{
  color: white;
  font-size: 25px;
  border-style: solid;
  padding-bottom: 1.5%;
  padding-top: 1.5%;
  height: 20%;
  text-align: center;
  padding-left: 38%;
  padding-right: 38%;
  background-color: #FF6065;
  border-color: #FF6065;
  border-radius: 2px;
}

.SignUp{
  font-size: 15px;
}

hr {
  border-color: DarkGray;
}

.guest-button {
  color: white;
  font-size: 25px;
  border-style: solid;
  padding-bottom: 1.5%;
  padding-top: 1.5%;
  height: 20%;
  text-align: center;
  padding-left: 32%;
  padding-right: 32%;
  background-color: MediumSpringGreen;
  border-color: MediumSpringGreen;
  border-radius: 2px;
}
