.space-new-form{
  padding-left: 30%;
}

.space-form-box{
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 1%;
  padding-bottom: 2%;
  display: inline-block;
  background-color: blue;

  background-color: #F5F5F5;
  border-radius: 2px;
  border-color: #DCE0E0;
  border-style: solid;
  border-width: 1px;
}

.space-new-header{
  color: #565A5C;
  font-size: 25px;
  margin-bottom: 5%;

}

.space-new-input{
  border-radius: 2px;
  border-style: solid;
  border-color: #DCE0E0;
}

.space-input-header{
  color: #565A5C;
}

.space-new-button{
  background-color: #FF5861;
  border-color: #FF5861;
  border-radius: 2px;
}

.space-new-button:hover{
  background-color: #FF5861;
  border-color: #FF5861;

}
