// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.navbar {
  background-color: #F5F5F5;
  border-radius: 0px;
  border-bottom-color: #DCE0E0;
  color: white;
}

#search-bar{
  border-style: solid;
  border-color: #DCE0E0;
  border-width: 1px;
  border-radius: 2px;
  width: 200%;
  height: 35px;
  color: #565A5C;
  margin-top: 6%;
  margin-left: 20%;
  padding-left: 20%;
}

#search-bar:focus {
  outline-color: transparent;
  outline-style: none;
}

.autocomplete-suggestion{
  border-bottom-style: solid;
  border-bottom-color: #DCE0E0;
  border-width: 1px;
  background-color: white;
  color: #565A5C;
  padding-left: 7%;
  height:35px;
  padding-top:8px;
}

.autocomplete-selected{
  color: white;
  background-color: #FF5F65;
  border-color: #FF5F65;
}

.search-icon{
  position: absolute;
  z-index: 3;
  color: #DCE0E0;
  left: 27%;
  transform: scaleX(-1);
  top: 46%;
}

#search-button{
  display: none;
}

#main{
  padding-top: 10%;
  min-height: 40%;
  max-height: 80%;
  overflow: hidden;
}

.space-new{
  background-color: #009AAB;
  border-radius: 2px;
  border-style: solid;
  border-color: #009AAB;
  text-align: center;
  margin-top: 12%;
  // padding-left: 2%;
  // padding-right: 2%;
  font-size: 15px;
}

.notification{
  z-index: 2;
  position: absolute;
  border-radius: 2px;
  top: 21.5%;
  left: 80%;
  background-color: #FF5A5F;
  color: white;
  padding-left: 4%;
  padding-right: 4%;
}
