// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.navbar {
  background-color: #F5F5F5;
  border-radius: 0px;
  border-bottom-color: #DCE0E0;
  color: white;
}

#main{
  padding-top: 7%;
}

.notification{
  z-index: 2;
  position: absolute;
  border-radius: 2px;
  top: 21.5%;
  left: 80%;
  background-color: #FF5A5F;
  color: white;
  padding-left: 4%;
  padding-right: 4%;
}
